a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family: sans-serif;
  
  * {
    transition: all 0.2s ease-in-out;
  }
}

main {
  background: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  h1 {
    margin: 20px 0;
    width: 100%;
    color: #fff;
    font-size: clamp(1rem, 15vw, 20rem);
    text-transform: uppercase;
  }

}

.toggleButton {
  position: absolute;
  top: 20px;
  left: 20px;
}

button {
  fill: #666;
  background: transparent;
  border: none;
  padding: 0;

  svg {
    cursor: pointer;
    padding: 5px;
  }

  &.active, &:hover {
    fill: #fff;
    svg {
      transform: rotate(90deg);
    }
  }
}

div.toggleContainer {
  padding: 10px;
  text-align: center;
  background: #858585;
  max-width: 250px;
  width: 100%;
  position: absolute;
  top: -300px;
  left: calc(50% - 135px);
  transition: 0.4s;

  &.active {
    top: 0;
  }
}

label {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  
  p {
    cursor: pointer;
  }
}

footer {
  background: #FF91AF;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  font-family: monospace;

  a {
    color: #fff
  }
  
  a:hover {
    color: #000
  }
}
