@import url("./styles/meyerReset.css");

body {
  font-family: sans-serif;
  
  * {
    transition: all 0.2s ease-in-out;
  }
}

main {
  background: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  h1 {
    margin: 20px 0;
    width: 100%;
    color: #fff;
    font-size: 8.5rem;
    text-transform: uppercase;
  }

}

.toggleButton {
  position: absolute;
  top: 20px;
  left: 20px;
}

button {
  fill: #666;
  background: transparent;
  border: none;
  padding: 0;

  svg {
    cursor: pointer;
    padding: 5px;
  }

  &.active, &:hover {
    fill: #fff;
    svg {
      transform: rotate(90deg);
    }
  }
}

div.toggleContainer {
  padding: 10px;
  text-align: center;
  background: #858585;
  max-width: 250px;
  width: 100%;
  position: absolute;
  top: -300px;
  left: calc(50% - 135px);
  transition: 0.4s;

  &.active {
    top: 0;
  }
}

label {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  
  p {
    cursor: pointer;
  }
}
